* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
}

article {
  width: 550px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px 0 20.5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  color: #fff;
}

.main-header span {
  font-weight: 700;
  font-size: 20.75px;
  line-height: 24.25px;
  letter-spacing: -10%;
}

.main-header h3 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.main-header--title {
  display: flex;
  align-items: center;
  gap: 7.19px;
}

/* MEME */

.main-meme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 36.5px;
  margin-top: 36px;
}

.inputs {
  display: flex;
  gap: 17px;
  margin-bottom: 15px;
}

.input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  width: 230px;
  height: 35px;
  padding-left: 11px;
  font-size: 12px;
  line-height: 14.03px;
  font-weight: 400;
  color: #0d0d0d;
}

.button {
  width: 100%;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.7px;
  text-align: center;
  letter-spacing: -10%;
  margin-bottom: 36px;
}
